@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeaderPartialComponent")
<body>
    @await Component.InvokeAsync("_LayoutNavbarPartialComponent")
    @await Component.InvokeAsync("_LayoutSidebarPartialComponent")
    @RenderBody()
    @await Component.InvokeAsync("_LayoutFooterPartialComponent")
    @await Component.InvokeAsync("_LayoutScriptPartialComponent")
</body>
</html> 